<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="https://cdn.jsdelivr.net/npm/babylonjs@8.23.0/babylon.min.js"></script>
	<script type="module" src="js/index.js"></script>
	<script type="module" src="js/register.js"></script>
	<script type="module" src="js/game.js"></script>
	<!-- <script type="module" src="js/game.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/game.css" /> -->
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<title>Transcendence</title>
</head>

<body class="h-screen">
	<aside id="sidebar-multi-level-sidebar"
		class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
		aria-label="Sidebar">
		<div class="h-full px-3 py-4  bg-gray-50 dark:bg-gray-800">
			<img id="profileAvatar" class="w-full p-6 rounded-full cursor-pointer" src="/images/<%= user.avatar %>" />
			<div id="profileNick" class="text-white text-center mb-4"><%= user.nick %></div>
			<hr class="text-yellow-400 w-10/12 mx-5 mb-3" />
			<ul class="space-y-2 font-medium">
				<li>
					<button id="homeButton"
						class="nav-button w-full text-left bg-gray-900 text-gray-300 flex items-center p-2 rounded-lg hover:bg-gray-700 group">
						Home
					</button>
				</li>
				<li>
					<button id="gameButton"
						class="nav-button w-full text-left bg-transparent text-gray-300 flex items-center p-2 rounded-lg hover:bg-gray-700 group">
						Quick game
					</button>
				</li>
				</li>
				<li>
					<button id="tournamentButton"
						class="nav-button w-full text-left bg-transparent text-gray-300 flex items-center p-2 rounded-lg hover:bg-gray-700 group">
						Tournament
					</button>
				</li>
			</ul>
			<% if (user.error) {%>
			<section id="login" class="visible">
				<button id="loginButton"
					class="nav-button absolute bottom-8 left-8 rounded-lg p-2 bg-transparent hover:bg-gray-700 group text-gray-300">Log
					in</button>
				<button id="registerButton"
					class="absolute bottom-8 right-8 rounded-lg p-2 bg-yellow-600 hover:bg-gray-700 group text-gray-300">Register</button>
			</section>
			<section id="logout" class="collapse flex flex-col items-center justify-center">
				<button id="logoutButton"
					class="nav-button absolute bottom-8 rounded-lg p-2 bg-red-600 hover:bg-gray-700 group text-gray-300">Log
					out</button>
			</section>
			<%} else {%>
			<section id="login" class="collapse">
				<button id="loginButton"
					class="nav-button absolute bottom-8 left-8 rounded-lg p-2 bg-transparent hover:bg-gray-700 group text-gray-300">Log
					in</button>
				<button id="registerButton"
					class="absolute bottom-8 right-8 rounded-lg p-2 bg-yellow-600 hover:bg-gray-700 group text-gray-300">Register</button>
			</section>
			<section id="logout" class="visible flex flex-col items-center justify-center">
				<button id="logoutButton"
					class="nav-button absolute bottom-8 rounded-lg p-2 bg-red-600 hover:bg-gray-700 group text-gray-300">Log
					out</button>
			</section>
			<% } %>
		</div>
	</aside>
	<div id="content" class="h-full p-0 sm:ml-64">%%CONTENT%%</div>
</body>

</html>
