<h1>Edit user</h1>
<form class="edit-post-form" action="/user/<%= user.id %>/edit" method="post">
  <label for="title">Nickname:</label>
  <input
    type="text"
    id="nick"
    name="nick"
    value="<%= user.nick %>"
    required
  />
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" value="<%= user.email %>" required/>
  <button type="submit">Update</button>
</form>
